.container{
    display: flex;
    background: #ffffff;
    height: 750px;
    width: 900px;
    flex-direction: column;
}


#header {
    background: #e6f7b1;
    width: 500px;
    height: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;

}
#menu{
    background: #ffb8ff;
    width: 150px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -504px;

}
.post{
    background: #a0e2ff;
    width: 340px;
    height: 245px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 160px;
    margin-bottom: 5px;
}

#footer{
    background: #ffffca;
    width: 500px;
    height: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;


}