.dsfl{
    display: flex;
}
.clm{
    flex-direction: column;
}
.rw{
    flex-direction: row;
}
:root{
    --black-color: #0d2532;
    --yellow-color: #f9c602;
}
.top_bar_wrapper{
    max-width: 1372px;
    margin: 0 auto;
    justify-content: center;
}
.nav_menu_item a {
    Font-size: 16px;
    Line-height: 24px;
    color: var(--black-color);
    text-decoration: none;
}
.clmgp8{
    column-gap: 8px;
}
.clmgp44{
    column-gap: 44px;
}
.clmgp170{
    column-gap: 170px;
}
.clmgp24{
    column-gap: 24px;
}
.top_bar{
    height: 83px;
}
.top_bar,
.header_logo,
.top_end{
    align-items: center;
}
.btn{
    height: 54px;
    width: 163px;
    Font-size: 16px;
    Line-height: 24px;
    padding: 15px 29px 15px 29px;
    cursor: pointer;
    transition: box-shadow .35s;
}
.btn:hover{
    box-shadow: -2px 5px 15px 0 rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 5px 15px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 5px 15px 0 rgba(0,0,0,0.75);
}
.nav_btn{
    color: white;
    background: var(--black-color);
    border-radius: 5%;
}
.header_wrap_content{
    box-sizing: border-box;
    padding-top: 154px;
    max-width: 390px;
}
.mid_header_wrapper{
    max-width: 1293px;
    padding-left: 157px;
    margin-bottom: 189px;
}
.header_content_img_top{
    position: absolute;
    margin-left: -102px;
    margin-top: 172px;
}
.header_img{
    margin-left: 257px;
    width: 710px;
}

.header_content_img_bg{
    left: 840px;
}
.txt_60_64{
    Font-size: 60px;
    Line-height: 64px;
}
.txt_22_32{
    Font-size: 22px;
    Line-height: 32px;
    color: #375361;
}
.txt_42_48{
    Font-size: 42px;
    Line-height: 48px;
}
.header_content_btn_1{
    color: var(--black-color);
    background-color: var(--yellow-color);
    border-color: var(--yellow-color);
}
.header_content_btn_2{
    color: var(--black-color);
    background-color: #ffffff;
}
.logo_tablet_wrapper{
    width: 1093px;
    align-items: center;
    margin-left: 174px;
    margin-bottom: 192px;
}
.clmgp84{
    column-gap: 84px;
}
.mrg_btm59{
    margin-bottom: 59px;
}
.rwgp16{
    row-gap: 16px;
}
.bicyclist{
    width: 1376px;
    background-color: #52cebd;
    margin-left: 32px;
    height: 494px;
    margin-bottom: 191px;
}
.img{
    padding-top: 75px;
    height: 358px;
    width: 678px;
}
.txt_34_40{
    Font-size: 34px;
    Line-height: 40px;
}
.bicyclist_txt{
    width: 485px;
    margin-left: 20px;
    margin-top: 114px;
    row-gap: 35px;
    flex-direction: column;
}
.sprig_info{
    width: 710px;
    margin-left: 385px;
    margin-bottom: 57px;
}
.sprig{
    margin-left: 265px;
    margin-bottom: 113px;
}
.sprig_btn{
    margin-left: 638px;
    margin-bottom: 160px;
}
.purple_box{
    margin-left: 32px;
}
.purple_box_characteristics{
    width: 1260px;
    height: 537px;
    background-color: #be79f0;
    margin-left: 116px;
    border-radius: 1%;
    margin-bottom: 136px;
}
.purple_box_img{
    margin-top: 64px;
    position: absolute;
}
.purple_box_txt{
    margin-left: 582px;
    flex-direction: column;
    padding-top: 103px;
    row-gap: 39px;
}
.txt_17_28{
    Font-size: 17px;
    Line-height: 28px;
}
.txt_14_24{
    Font-size: 14px;
    Line-height: 24px;
    color: #6A7981;
;
}
.sprig_solutions_wrapper{
    margin-left: 148px;
    margin-right: 32px;
}
.w500{
    width: 500px;
}
.w550{
    width: 550px;
}
.introduction{
    row-gap: 20px;
    margin-bottom: 219px;
}
.cm{

}
.icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 23px;
}
.cm_img{
    background-color: #be79f0;
}
.line{
    width: 7px;
    height: 1px;
    background: #0B2330;
    border-radius: 10%;
}
.indside_icon{
    row-gap: 3px;
    position: absolute;
    margin-bottom: 4px;
}
.w440{
    width: 440px;
}
.hwsprh_content{
    margin-top: 29px;
    margin-bottom: 36px;
}
.vq_img{
    background-color: #52cebd;
    margin-top: 140px;
}
.cam{
    justify-content: center;
    box-sizing: border-box;
    padding-top: 12px;
}
.ct_img {
    background-color: #fea02a;
    margin-top: 140px;
}
.testing_img{
    position: absolute;
    align-items: center;
    padding-bottom: 3px;
}
.t1{
    margin-top: 2px;
}
.t2{
    margin-top: -5px;
}
.t3{
    margin-left: 7px;
}
.t4{
    margin-left: -7px;
}
.txt_12_16{
    font-size: 12px;
    line-height: 16px;
    color: #61757E;
}
.clmgp263{
    column-gap: 263px;
}
.rwgp100{
    row-gap: 100px;
}
.ss_btn{
    height: 23px;
    padding: 5px 16px 6px 16px;
    border: 0;
    background-color: #e7eaeb;
    border-radius: 5%;
}
.w230{
    width: 230px;
}
.ct_btn{
    color: #0B2330;
    background-color: #fea02a;
}
.features{
    width: 1440px;
    height: 960px;
    background-color: #f2ede7;
    margin-top: 152px;
}
.features_wrapper{
    box-sizing: border-box;
    padding: 95px 122px 95px 122px;
}
.ftrs_hdr{
    width: 1000px;
    height: 128px;
    margin-top: 10px;
    margin-bottom: 120px;
}
.clmgp224{
    column-gap: 224px;
}
.ftrs_line{
    width: 100%;
    height: 2px;
    background-color: #C9316F;
    margin-bottom: 31px;
}
.updown{
    width: 595px;
}
.txt_24_32{
    font-size: 24px;
    line-height: 32px;
}
.Vector{
    justify-content: end;
    align-items: start;
    width: 100%;
}
.bar_set{
    width: 310px;
    margin-bottom: 25px;
}
.rwgp35{
    row-gap: 30px;
}
.ftrs_btn{
    background-color: #f2ede7;
    border: 0;
}
.ftrs_line_gray{
    width: 100%;
    height: 2px;
    background-color: #C3CACD;;
    margin: 22px 0 25px 0;
}