.bg-ct {
    background: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rw{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.clm{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.w430{
    width: 430px;
}
.h100{
    height: 100px;
}
.w100{
    width: 100px;
}
